div{
     border:1px solid #93afa2;
     margin:auto;
	 width:750px;
}
 h2{
    color:green;
}
.contact_form ul{
    list-style;none;
	width:750px;
	margin:0;
	padding:0;
}
.contact_form li{
    padding:12px;
	border-button;1 solid #9293a0;
	 position;relative;
}	
.contact_form label{
  float:left;
  display:inline-block;
  margin-top:3px;
  padding:3px;
  width:220px;
}
.contact_form textarea{
     padding:8px;
     width:700px;
}
.contact_form button{
    margin-left:156px;
}
.contact_form input,.contact_form textarea{
    border:1px solid #aaa;
 	box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-rigth:30px;
	-moz-transition:padding .25s;
	-webkit-transition:padding .25;
	-o-transition:padding .25;
}	
.contact_form input :focus,.contact_form textarea{
    background:#fff;
	boder:1px solid #aaa;
	pading-rigth:70px;
}
.contact_form imput:required, .contact_form textarea:required{
	background:#fff url{bien.png} no-repeat 98% center;
}	
.contact_form imput :required:valid, .contact_form textarea: required:valid{
	background:#fff url {error.png} no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color:#2892if;
}
.contact_form imput:focus:inalid, .contact_form textarea:focus:invalid{
	background:#fff url{correcion.png} no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color:#b03535;
}
.from_hint{
	background:#d45252;
	border-radius:5px;
	color:#fff;
	margin-left:8px;
	padding:1px 6px;
	z-index:999;
	position:absolute;
	display:none;
}
.from_hint::before{
	content:"\25CO";
	color:#d45525;
	position:absolute;
	top:1px;
	left:-1px;
}
.contact_form input:focus + .form_hint{
	display:inline;
};
.contact_form imput:required:valid + .form_hint{
	background:#28912f;
}	
.contact_form input:required:valid + .form_hint::before{
	color:#28921f;
}
button.submit{
	background:#68b12f;
	border:1px solid #509111;
	border-radius:5px;
	-moz-border-radius: 5px;
	box-shadow:inset 0 1px 0 0 #9fd574;
	color:white;
	padding:6px 2px;
	text-align:center;
	tex-shadow: 0 -1px 0 #396715; 
}
button.submit:hover{
	opacity:.85;
	cursor:pointer;
}
button.submit:active{
	border:1px solid #20911a;
	box-shadow: 0 0 10px 5px #356b0b inset;
}